<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <div class="card-header text-bg-success text-center ">
        AUTENTICACIÓN
    </div>
    <div class="card-body">
        <form th:action="@{/login}" method="post" th:object="${loginModel}">
            <div class="mb-3">
                <label for="txtusuario" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="txtusuario" aria-describedby="emailHelp" th:field="*{usuario}">

            </div>
            <div class="mb-3">
                <label for="txtpassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="txtpassword" th:field="*{password}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div th:if="${mostrarMensaje}" class="alert alert-danger" role="alert">
                <span th:text="${mensaje} ?:''"></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>